// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// materialize
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "node_modules/materialize-css/sass/materialize";

@import "global";
